<ion-header class="ion-no-border">
  <ion-toolbar color="green" style="text-align: center;">
  </ion-toolbar>
  <div class="container">
    <img src="./assets/imgs/header.png" style="background-repeat: no-repeat; width: 100%; height: 100px;">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-form">
    <img src="./assets/imgs/work.png" style="background-repeat: no-repeat; width: 200px; height: 120px; margin-bottom: 20px;">
    <ion-button color="green" expand="block" (click)="login()">{{'SSO' | translate}}</ion-button>
  </div>
</ion-content>